.header{
	font-family: "Arial Black";
}

.display-3{
	text-align: center;
}
.cloum1{
	background-color: #e5233d !important; 
}

.colum2{
	background-color: #dda73a !important;
}

.colum3{
	background-color: #4ca146 !important;
}

.colum4{
	background-color: #c7212f !important;
}

.colum5{
	background-color: #ef402d !important;
}

.colum6{
	background-color: #27bfe6 !important;
}

.colum7{
	background-color: #fbc412 !important;
}

.colum8{
	background-color: #a31c44 !important;
}

.colum9{
	background-color: #f26a2e !important;
}

.colum10{
	background-color: #e6137c !important;
}

.colum11{
	background-color: #f89d2a !important;
}

.colum12{
	background-color: #bf8d2c !important;
}

.colum13{
	background-color: #3d7f44 !important;
}

.colum14{
	background-color: #1f97d4 !important;
}

.colum15{
	background-color: #59ba47 !important;
}

.colum16{
	background-color:  #136a9f !important;
}

.colum17{
	background-color:  #14496b !important;
}